digitaltwin-mgt-ar/FlowsEngine/digitaltwinsnetwork.json
[{"id":"dfdaf77a.fd9b08","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8f1de797.67dee8","type":"onesaitplatform-digitaltwin","z":"dfdaf77a.fd9b08","name":"ST_DT_DetectorHumo_Uno","digitalTwinJSON":"{\"title\":\"ST_DetectorHumo\",\"links\":{\"properties\":\"thing/ST_DetectorHumo/properties\",\"actions\":\"thing/ST_DetectorHumo/actions\",\"events\":\"thing/ST_DetectorHumo/events\"},\"description\":\"Digital Twin correspondiente al detector de humo\",\"properties\":{\"humoDetectado\":{\"type\":\"boolean\",\"units\":\"undefined\",\"direction\":\"in\",\"description\":\"Indica que se ha detectado humo\"}},\"actions\":{\"toggleHumoDetectado\":{\"description\":\"Acción que se cambia de cambiar el estado del detector de humo\"}},\"events\":{\"ping\":{\"description\":\"Ping\"},\"register\":{\"description\":\"Register\"},\"humoNoDetectadoEvent\":{\"description\":\"Indica que no se ha detectado humo\"},\"humoDetectadoEvent\":{\"description\":\"Indica que se ha detectado humo\"},\"updateShadow\":{\"description\":\"Actualiza el estado del DT en la plataforma\"},\"log\":{\"description\":\"Escribe en el log\"}}}","outputs":7,"customOutputLabels":["ping","register","humoNoDetectadoEvent","humoDetectadoEvent","updateShadow","log"],"digitalTwinType":"ST_DetectorHumo","digitalTwinDevice":"ST_DetectorHumo_Uno","digitalKey":"017587dc53124f3a8a0d3b16c57ee9e0","authentication":"c3RyYW5nZXJUZWFtOkNrYjI1bVFieWlYUWg2THl1bjRSMTRzOTBvM3JDMXNSbzlvdFN6YTFBWTg9","x":160,"y":100,"wires":[[],[],[],["c26bb7e.df72e48"],["c26bb7e.df72e48"],[],[]]},{"id":"c26bb7e.df72e48","type":"onesaitplatform-digitaltwin-action","z":"dfdaf77a.fd9b08","name":"ST_Alarma_setActivation","digitalTwinJSON":"{\"title\":\"ST_Alarma\",\"links\":{\"properties\":\"thing/ST_Alarma/properties\",\"actions\":\"thing/ST_Alarma/actions\",\"events\":\"thing/ST_Alarma/events\"},\"description\":\"Alarma DT\",\"properties\":{\"isOn\":{\"type\":\"boolean\",\"units\":\"bool\",\"direction\":\"in\",\"description\":\"Está ON\"}},\"actions\":{\"setActivacion\":{\"description\":\"Verifica si está ON\"}},\"events\":{\"ping\":{\"description\":\"Ping\"},\"register\":{\"description\":\"Register\"},\"log\":{\"description\":\"Log\"},\"updateshadow\":{\"description\":\"Update shadow\"}}}","outputs":1,"digitalTwinType":"ST_Alarma","digitalTwinAction":"setActivacion","authentication":"c3RyYW5nZXJUZWFtOkNrYjI1bVFieWlYUWg2THl1bjRSMTRzOTBvM3JDMXNSbzlvdFN6YTFBWTg9","x":450,"y":180,"wires":[["a882a13.3d7b76"]]},{"id":"dd1cd9f.ef15328","type":"onesaitplatform-digitaltwin","z":"dfdaf77a.fd9b08","name":"ST_DT_Alarma_Uno","digitalTwinJSON":"{\"title\":\"ST_Alarma\",\"links\":{\"properties\":\"thing/ST_Alarma/properties\",\"actions\":\"thing/ST_Alarma/actions\",\"events\":\"thing/ST_Alarma/events\"},\"description\":\"Alarma DT\",\"properties\":{\"isOn\":{\"type\":\"boolean\",\"units\":\"bool\",\"direction\":\"in\",\"description\":\"Está ON\"}},\"actions\":{\"setActivacion\":{\"description\":\"Verifica si está ON\"}},\"events\":{\"ping\":{\"description\":\"Ping\"},\"register\":{\"description\":\"Register\"},\"log\":{\"description\":\"Log\"},\"updateshadow\":{\"description\":\"Update shadow\"}}}","outputs":5,"customOutputLabels":["ping","register","log","updateshadow"],"digitalTwinType":"ST_Alarma","digitalTwinDevice":"ST_Alarma_Uno","digitalKey":"1f93ec27a73a4dfea72c50c0a6c58a44","authentication":"c3RyYW5nZXJUZWFtOkNrYjI1bVFieWlYUWg2THl1bjRSMTRzOTBvM3JDMXNSbzlvdFN6YTFBWTg9","x":480,"y":340,"wires":[["e301aa96.4dfe38"],[],[],[],[]]},{"id":"a882a13.3d7b76","type":"json","z":"dfdaf77a.fd9b08","name":"Object to JSON","property":"payload","action":"str","pretty":false,"x":200,"y":280,"wires":[["dd1cd9f.ef15328"]]},{"id":"568d811b.780e2","type":"onesaitplatform-notification-endpoint","z":"dfdaf77a.fd9b08","name":"Suscripción a ST_NotificationMessage","url":"/ea13b25a-0c43-4431-aba8-7948fef9f913-568d811b_780","method":"post","ontology":"ST_NotificationMessage","operationType":"INSERT","x":170,"y":520,"wires":[["8017bf9d.2f847","84685a55.a7a4d8"]]},{"id":"aefc40f2.83f82","type":"inject","z":"dfdaf77a.fd9b08","name":"Crear registros en ST_NotificationMessage","topic":"","payload":"{\"ST_NotificationMessage\":{\"type\":\"DT_Alarma_SetActivacion\",\"alarmaIsOn\":true}}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":850,"y":60,"wires":[[]]},{"id":"8816631e.47597","type":"onesaitplatform-insert","z":"dfdaf77a.fd9b08","name":"Insertar ST_NotificationMessage","ontology":"ST_NotificationMessage","authentication":"c3RyYW5nZXJUZWFtOkNrYjI1bVFieWlYUWg2THl1bjRSMTRzOTBvM3JDMXNSbzlvdFN6YTFBWTg9","x":1010,"y":140,"wires":[["f8592798.6324b8"]]},{"id":"f8592798.6324b8","type":"debug","z":"dfdaf77a.fd9b08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1210,"y":60,"wires":[]},{"id":"bec25a68.dcc1d8","type":"comment","z":"dfdaf77a.fd9b08","name":"Flujo del detector de humo y conexión de la alarma","info":"","x":230,"y":20,"wires":[]},{"id":"cf34c910.b63398","type":"comment","z":"dfdaf77a.fd9b08","name":"Flujo de prueba creación de mensajes","info":"","x":810,"y":20,"wires":[]},{"id":"17c2b3ef.a04a0c","type":"comment","z":"dfdaf77a.fd9b08","name":"Flujo de envío de mensajes al dispositivo por FCM","info":"","x":690,"y":400,"wires":[]},{"id":"3f55fa93.72ef46","type":"http request","z":"dfdaf77a.fd9b08","name":"ST_FCM_SEND_MESSAGE","method":"POST","ret":"txt","url":"https://fcm.googleapis.com/fcm/send","tls":"30df5cc4.50bd94","timeoutMillis":15000,"x":1140,"y":700,"wires":[[]]},{"id":"97b03753.b75b98","type":"inject","z":"dfdaf77a.fd9b08","name":"pruebamensaje","topic":"","payload":"{\"to\":\"fu5Z43_PV0Y:APA91bFpwdHrxmSaJSuTyaOi28H6L33uGbbU-exF0oxohfbatoeOBICQN4g-rVwqvRk6XlnO_D3Z57WhzKzDuDOK9iuE3Zoc_SoqMUlqmBU4t6h-8kG1mtwakqGO_kiu8HkVrjqbLs9i\",\"data\":{\"messageType\":\"DT_Alarma_SetActivacion\",\"alarmaIsOn\":true}}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":980,"y":340,"wires":[[]]},{"id":"4dc138f9.3ee548","type":"function","z":"dfdaf77a.fd9b08","name":"Añade autorización FCM","func":"var newMsg = {};\n// Añado las cabeceras de autorización.\nnewMsg.headers = {};\nnewMsg.headers['Authorization'] = 'key=AIzaSyBZM1Rvkhc7Lk4L9qMJEVf5DgivM8Q6VDU';\nnewMsg.headers['Content-Type'] = 'application/json';\n\n// El payload lo copiamos al nuevo mensaje\nnewMsg.payload = msg.payload;\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1090,"y":580,"wires":[["61008e26.b3859","3f55fa93.72ef46"]]},{"id":"e301aa96.4dfe38","type":"function","z":"dfdaf77a.fd9b08","name":"Inserta notificación DT_Alarma_SetActivacion","func":"var newMsg = {};\n\nnewMsg.payload = {};\nnewMsg.payload.ST_NotificationMessage = {};\nnewMsg.payload.ST_NotificationMessage[\"type\"] = \"DT_Alarma_SetActivacion\";\n// Pongo esto porque por alguna razón me viene como \n// String y no como booleano y luego la inserción \n// de la ontología falla.\nnewMsg.payload.ST_NotificationMessage[\"alarmaIsOn\"] = (msg.payload.status.isOn === 'true');\n\nreturn newMsg;","outputs":1,"noerr":0,"x":820,"y":220,"wires":[["8816631e.47597"]]},{"id":"84685a55.a7a4d8","type":"onesaitplatform-query-static","z":"dfdaf77a.fd9b08","name":"ST_ObtenerDeviceToken","ontology":"ST_NativeNotifKeys","targetDB":"","queryType":"sql","query":"select ST_NativeNotifKeys.deviceToken from ST_NativeNotifKeys as c","authentication":"c3RyYW5nZXJUZWFtOkNrYjI1bVFieWlYUWg2THl1bjRSMTRzOTBvM3JDMXNSbzlvdFN6YTFBWTg9","x":470,"y":440,"wires":[["af7cbfe.30e614"]]},{"id":"aa1eeed2.5c9ec","type":"join","z":"dfdaf77a.fd9b08","name":"Unir mensaje para FCM","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":970,"y":480,"wires":[["fe57f0ce.09f69"]]},{"id":"8017bf9d.2f847","type":"function","z":"dfdaf77a.fd9b08","name":"Formatear mensaje","func":"var newMsg = {};\n\n// Obtengo el registro se insertó en base de datos.\nnewMsg.payload = {};\nnewMsg.payload = msg.payload.notificationModel.operationModel.body;\nnewMsg.topic = \"mensaje\";\n\nreturn newMsg;","outputs":1,"noerr":0,"x":430,"y":620,"wires":[["aa1eeed2.5c9ec"]]},{"id":"af7cbfe.30e614","type":"function","z":"dfdaf77a.fd9b08","name":"Obtener deviceTokens","func":"var newMsg = {};\n\n// Obtengo los deviceToken de la base de datos.\nnewMsg.payload = {};\nnewMsg.payload = msg.payload;\nnewMsg.topic = \"dispositivos\";\n\nreturn newMsg;","outputs":1,"noerr":0,"x":720,"y":440,"wires":[["aa1eeed2.5c9ec"]]},{"id":"fe57f0ce.09f69","type":"function","z":"dfdaf77a.fd9b08","name":"Preparar mensajes por dispositivo","func":"// Obtengo el mensaje a enviar.\nvar mensaje = JSON.parse(msg.payload.mensaje);\n// Obtengo los tokens de dispositivo.\nvar dispositivos = JSON.parse(msg.payload.dispositivos);\n   \n// Montamos los mensajes a enviar a FCM\nfor (var i = 0; i < dispositivos.length; i++) {\n   var newMSG = {};\n   newMSG.payload = {};\n   newMSG.payload[\"to\"] = dispositivos[i].value;\n   newMSG.payload.data = {};\n   newMSG.payload.data[\"messageType\"] = mensaje.ST_NotificationMessage.type;\n   newMSG.payload.data[\"alarmaIsOn\"] = mensaje.ST_NotificationMessage.alarmaIsOn;\n   \n   // Envío el mensaje a este dispositivo.\n   node.send(newMSG);\n}","outputs":1,"noerr":0,"x":800,"y":640,"wires":[["4dc138f9.3ee548"]]},{"id":"61008e26.b3859","type":"debug","z":"dfdaf77a.fd9b08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1220,"y":500,"wires":[]},{"id":"30df5cc4.50bd94","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false}]